.aboutPage {
    margin: 0 auto;
    width: 1400px;
}

.aboutPage h1 {
    font-family: 'Tinos';

}

.head {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    font-family: 'Tinos';
    color: gainsboro;
}

.head h2 {
    padding: 40px;
    font-size: 25pt;
    text-align: justify;
}

.head span {
    color: rgb(238, 73, 42);
}

.head img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(0.5)
}

.ourMisson p {
    font-size: 14pt;
}

.ourMisson ul {
    margin: 20px;
}

.ourMisson ul li {
    font-family: 'Tinos';
    font-size: 14pt;
    margin: 5px;
}

.company h1 {}

.company p {
    font-size: 14pt;
}

.logoBlock h1 {
    width: 700px;
}

.logoBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gainsboro;
    padding: 10px;
}

.logoBlock img {
    height: 200px;
}

@media (max-width: 1420px) {
    .aboutPage {
        width: 1200px;
    }
}

@media (max-width: 1225px) {
    .aboutPage {
        width: 1000px;
    }
}

@media (max-width: 1020px) {
    .aboutPage {
        width: 100%;
    }

    .head {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .head h2 {
        padding: 20px;
        font-size: 20pt;
    }
    .ourMisson {
        width: 97%;
        margin: 0 auto;
    }
}


@media (max-width: 830px) {}


@media (max-width: 750px) {
    .aboutPage h1 {
        text-align: center;
    }

    .head h2 {
        padding: 20px;
        font-size: 15pt;
    }

    .company p {
        font-size: 14pt;
    }

    .logoBlock h1 {
        width: 400px;
        font-size: 14pt;
    }

    .logoBlock img {
        height: 100px;
    }
    
}

@media (max-width: 430px) {}