.trenajerPage {
    width: 1400px;
    margin: 40px auto 0px auto;
    overflow-x: hidden;
    color: black;
}

.head {
    text-align: center;
}

.head h1 {
    margin: 0px 0px 20px 0px;
    font-size: 28pt;
    text-align: center;
}

.head img {
    margin: 0px auto 40px auto;
    padding: 0;
}

.purpose h2, .principles h2, .description h2, .usage h2, .effects h2, .care h2 {
    font-size: 24pt;
    color: black;
    margin-bottom: 20px;
}

.principles {
    margin-top: 20px;
}

.principles p, .description p, .usage p, .care p {
    font-size: 14pt;
    text-align: justify;
    /* line-height: 25px; */
}

.purpose li {
    margin-top: 20px;
    font-size: 14pt;
}

.effects li {
    margin-top: 10px;
    font-size: 14pt;
}

.care {
    margin-top: 20px;
    display: flex;
    height: 650px;
    gap: 40px;
    justify-content: space-between;
}

.careText h2 {
    margin-top: 20px;
}

.careText li {
    margin-top: 10px;
    font-size: 14pt;
}

.careText {
    width: 45%;
}

.care img {
    max-height: 100%;
    width: 55%;
    object-fit: cover;
}

.description {
    display: flex;
    height: 600px;
    gap: 40px;
    justify-content: space-between;
}

.descrText {
    width: 45%;
}

.description img {
    max-height: 100%;
    width: 55%;
    object-fit: cover;
}

.effects {
    display: flex;
    height: 400px;
    gap: 40px;
    justify-content: space-between;
}

.effects img {
    max-height: 100%;
    width: 25%;
    object-fit: cover;
}

.effectsText {
    width: 60%;
}

.usage {
    margin-top: 20px;
}

.usage h2 {
    text-align: center;
}

.refBlock {
    margin-top: 20px;
}

.refBlock button {
    color: white;
    background-color: rgb(238, 73, 42);
    font-family: "Tinos";
    border: none;
    border-radius: 5px;
    font-size: 10pt;
    padding: 7px;
    cursor: pointer;
    margin: 10px 10px 10px 0px;
    transition: 0.5s;
}

.refBlock button:hover {
    transform: scale(1.02, 1.02);
}

@media (max-width: 1420px) {
    .trenajerPage {
        width: 1200px;
    }

    .description {
        display: flex;
        height: 600px;
        gap: 5px;
        justify-content: space-between;
    }

    .descrText {
        width: 55%;
    }

    .description img {
        max-height: 100%;
        width: 45%;
        object-fit: cover;
    }
}

@media (max-width: 1225px) {
    .trenajerPage {
        width: 1000px;
    }

    .purpose {
        width: 97%;
        margin: 0 auto;
    }

    .principles {
        width: 97%;
        margin: 0 auto;
    }

    .description {
        display: flex;
        flex-direction: column;
        width: 97%;
        margin: 0 auto;
        height: auto;
        gap: 5px;
        justify-content: space-between;
    }

    .descrText {
        width: 100%;
    }

    .description img {
        max-height: 400px;
        width: 100%;
        object-fit: cover;
    }

    .effects {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 5px;
        justify-content: space-between;
    }

    .effects img {
        max-height: 400px;
        width: 97%;
        object-fit: cover;
        order: 1;
    }

    .effectsText {
        width: 100%;

    }

    .care {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 97%;
        margin: 0 auto;
        gap: 5px;
        justify-content: space-between;
    }

    .careText h2 {
        margin-top: 20px;
    }

    .careText li {
        margin-top: 10px;
        font-size: 14pt;
    }

    .careText {
        width: 100%;
    }

    .care img {
        max-height: 400px;
        width: 100%;
        object-fit: cover;
    }

    .refBlock {
        width: 97%;
        margin: 20px auto 0 auto;
    }
}

@media (max-width: 1020px) {
    .trenajerPage {
        width: 100%;
    }


}


@media (max-width: 800px) {}


@media (max-width: 750px) {}

@media (max-width: 430px) {}