.scanPage {
    width: 1400px;
    margin: 40px auto 0px auto;
}
.scanPage h1{
   
}
.head h1 {
   
    margin: 0px 0px 50px 0px;
    text-align: center;
}

.productsWrapper {
    display: flex;
    gap: 100px;
    /* margin-top: 100px; */
    margin-bottom: 100px;
}

.leftBar {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftBar label {
   
    display: block;
}

.leftBar select {

    width: 100%;
    height: 30px;
}

.leftBar select, input, .priceLine {
    margin-top: 20px;
}

.leftBar input[type="checkbox"] {
    margin-left: 10px;
    display: inline;
}

.accept {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    transition: 0.5s;
}

.accept:hover {
    color: rgb(238, 73, 42);
}

.accept:active {
    transform: translate(5px, 5px);
}

.priceInputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priceLine {
    margin: 20px 0px 0px 0px;
}

.priceInputs input {
    display: inline;
    margin: 20px 0px 0px 0px;
    width: 40%;
    height: 30px;
}

.productItems {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

@media (max-width: 1420px) {
    .scanPage {
        width: 1200px;
    }
}

@media (max-width: 1225px) {
    .scanPage {
        width: 1000px;
    }
}

@media (max-width: 1020px) {
    .scanPage {
        width: 100%;
    }

    .productsWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 100px;
    }

    .leftBar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .leftBar select {

        width: 200px;
        height: auto;
    }

    .leftBar select, input, .priceLine {
        margin-top: none;
    }

    .leftBar input[type="checkbox"] {
        margin-left: 10px;
        display: inline;
    }

    .productItems {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
}


@media (max-width: 800px) {}


@media (max-width: 750px) {
    .leftBar label {
        font-size: 10pt;
    }

    .leftBar select {
        font-size: 10pt;
    }

    .leftBar select, input, .priceLine {
        margin-top: 0px;
    }

    .leftBar input[type="checkbox"] {
        margin-left: 10px;
        display: inline;
    }
}

@media (max-width: 430px) {
    .leftBar label {
        font-size: 8pt;
    }

    .leftBar select {
        font-size: 8pt;
        width: 90px;
    }

    .leftBar select, input, .priceLine {
        margin-top: 0px;
    }

    .leftBar input[type="checkbox"] {
        margin-left: 10px;
        display: inline;
    }
}