.uziPage {
    width: 1400px;
    margin: 40px auto 0px auto;
    overflow-x: hidden;
}

.head h1 {
   
    margin: 0px 0px 50px 0px;
    text-align: center;
}

.productsWrapper {
    display: flex;
    gap: 70px;
    margin-bottom: 100px;
}

.leftBar {
    width: 300px;
    /* height: 350px; */
    align-self: self-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    box-shadow: 0px 0px 5px 0px gray;
    padding: 10px;
    margin-left: 5px;
    border-radius: 15px;
}

.leftBar label {
   
    display: block;
    font-size: 14pt;
}

.leftBar select {
    width: 100%;
}

.leftBar input[type="checkbox"] {
    margin-left: 10px;
    display: inline;
}

input[type=checkbox] {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.leftBar select {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.leftBar select::-ms-expand {
    display: none;
}

.leftBar select:hover {
    border-color: #888;
}

.leftBar select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.leftBar select option {
    font-weight: normal;
}

*[dir="rtl"] .leftBar select, :root:lang(ar) .leftBar select, :root:lang(iw) .leftBar select {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

.accept {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    transition: 0.5s;
}

.accept:hover {
    color: rgb(238, 73, 42);
}

.accept:active {
    transform: translate(5px, 5px);
}


.productItems {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.leftBar select {
    margin-top: 10px;
}


.mobileBtn {
    display: none;
}


.filterUzi {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Century Gothic';
}

.filterUzi label {
    display: inline;
}

.filterUzi select option {
    text-align: center;
}

.filterUzi select::-ms-expand {
    display: none;
}

.filterUzi select:hover {
    border-color: #888;
}

.filterUzi select:focus {
    border-color: #ffffff;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.filterUzi select option {
    font-weight: normal;
}

.filterUzi select {
    /* display: block; */
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    /* max-width: 100%; */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.availableUzi {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px 0px 10px 0px;
}



.availableUzi input[type="checkbox"] {
    height: 10px;
    width: 10px;
    display: inline;
}

.availableUzi input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2.0);
    /* IE */
    -moz-transform: scale(2.0);
    /* FF */
    -webkit-transform: scale(2.0);
    /* Safari and Chrome */
    -o-transform: scale(2.0);
    /* Opera */
    transform: scale(2.0);
    margin: 0;
}

@media (max-width: 1420px) {
    .uziPage {
        width: 1200px;
    }


}

@media (max-width: 1225px) {
    .uziPage {
        width: 1000px;
    }

}

@media (max-width: 1020px) {
    .uziPage {
        width: 100%;
    }

    .productsWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 100px;
    }

    .leftBar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


    .leftBar select {

        width: 200px;
        height: auto;


    }

    .leftBar label {
        margin: 0;
        padding: 0;
    }

    .leftBar select, input, .priceLine {
        margin-top: none;
    }

    .leftBar input[type="checkbox"] {
        margin-left: 10px;
        display: inline;
    }

    .productItems {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
}


@media (max-width: 800px) {
    .mobileBtn {
        display: inherit;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        font-family: 'Century Gothic';
        font-size: 14pt;
    }

    .filterUzi {
        display: flex;
    }

    .uziPage {
        width: 100%;
    }

    .leftBar {
        display: none;
    }
}


@media (max-width: 750px) {

    .leftBar label {
        font-size: 10pt;

    }

    .leftBar label:nth-child(2) {
        height: 20px;
    }

    .leftBar select {
        font-size: 10pt;
    }

    .leftBar select, input, .priceLine {
        margin-top: 0px;
    }

    .leftBar input[type="checkbox"] {
        margin-left: 10px;
        display: inline;
    }
}

@media (max-width: 430px) {
    .leftBar label {
        font-size: 8pt;
    }

    .leftBar label:nth-child(2) {
        height: 20px;
    }

    .leftBar select {
        font-size: 8pt;
        width: 90px;
    }

    .leftBar select, input, .priceLine {}

    .leftBar input[type="checkbox"] {
        margin-left: 10px;
        display: inline;
    }

}